    @font-face {
      font-family: "Flaticon";
      src: url("font/Flaticon.eot");
      src: url("font/Flaticon.eot?#iefix") format("embedded-opentype"),
        url("font/Flaticon.woff2") format("woff2"),
        url("font/Flaticon.woff") format("woff"),
        url("font/Flaticon.ttf") format("truetype"),
        url("../images/Flaticon.svg#Flaticon") format("svg");
      font-weight: normal;
      font-style: normal;
    }

    @media screen and (-webkit-min-device-pixel-ratio:0) {
      @font-face {
        font-family: "Flaticon";
        src: url("../images/Flaticon.svg#Flaticon") format("svg");
      }
    }

    .fi:before {
      display: inline-block;
      font-family: "Flaticon";
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      line-height: 1;
      text-decoration: inherit;
      text-rendering: optimizeLegibility;
      text-transform: none;
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      font-smoothing: antialiased;
    }


    .flaticon-alarm:before { content: "\f100"; }
    .flaticon-settings:before { content: "\f101"; }
    .flaticon-facebook:before { content: "\f102"; }
    .flaticon-twitter:before { content: "\f103"; }
    .flaticon-linkedin:before { content: "\f104"; }
    .flaticon-instagram:before { content: "\f105"; }
    .flaticon-honor-band-mention:before { content: "\f106"; }
    .flaticon-app:before { content: "\f107"; }
    .flaticon-medal:before { content: "\f108"; }
    .flaticon-like:before { content: "\f109"; }
    .flaticon-coding:before { content: "\f10a"; }
    .flaticon-code:before { content: "\f10b"; }
    .flaticon-coding1:before { content: "\f10c"; }
    .flaticon-app-development-1:before { content: "\f10d"; }
    .flaticon-cancel:before { content: "\f10e"; }
    .flaticon-share:before { content: "\f10f"; }
    .flaticon-add:before { content: "\f110"; }
    .flaticon-down-arrow:before { content: "\f111"; }
    .flaticon-reload:before { content: "\f112"; }
    .flaticon-user:before { content: "\f113"; }